.container {
    text-align: justify;
    padding: 15px;
}

.centralizar {
    text-align: center;
    width: auto;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    font-size: 15px;
    text-align: left;
}